@import url(./intro.css);
@import url(./servicos.css);
@import url(./sobre.css);
@import url(./contato.css);

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}